.page-title-link {
  text-decoration: none;
  display: inline-block;
  max-width: 350px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 0.25em;
  padding: 0.25em 0.3em;
  background-color: red;
}

.page-title-link:hover {
  border: 2px solid rgb(172, 0, 0);
  color: white;
}

.cart {
  background-color: rgb(75, 75, 75);
  opacity: 0.8;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
  color: black;
}
