header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 100px;
  align-items: center;
  padding: 0 1em;
  border-bottom: 5px solid black;
  background-color: rgb(207, 235, 235);
}

.page-title {
  grid-column: 4 / 6;
}

.page-title a {
  text-decoration: none;
  display: block;
  max-width: 350px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 0.25em;
  padding: 0.25em 0.3em;
  background-color: red;
}

.page-title a:hover {
  border: 2px solid rgb(172, 0, 0);
  color: white;
}

.cart {
  grid-column: 6 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(75, 75, 75);
  opacity: 0.8;
  border: 3px solid white;
  padding: 1.2em;
  min-width: 170px;
  color: white;
  font-weight: bold;
  max-width: 300px;
  min-width: 250px;
  justify-self: right;
}

.cart:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
  color: black;
}
